.custom-nav {
   .brand-logo {

      //hover background color transparent
      &:hover {
         background-color: transparent;
      }
   }

   .nav-item {

      //hover background color transparent
      &:hover {
         background-color: transparent;
      }
   }
}

//todos and todo-item
div.todos {
   display: flex;
   width: 500px;
   justify-content: space-between;
   margin-bottom: 10px;
   margin-right: 10px;

   .todo-item {
      padding: 10px;
      width: 50%;
      text-align: center;
      border: 1px solid gray;
      border-radius: 20px;
   }
   .todo-btn{
      background-color:transparent;
      border: 1px solid pink;
      border-radius: 20px;
      padding: 10px;
      font-weight: 500;
      color: rgb(231, 81, 106);
      &:hover {
         background-color: pink;
         color: white;
      }
      cursor: pointer;
   }
}
.line-through{
   text-decoration: line-through;
}
.page-404{
   text-align:center;
}