.custom-nav .brand-logo:hover {
  background-color: transparent;
}

.custom-nav .nav-item:hover {
  background-color: transparent;
}

.container {
  margin: auto;
  width: 80%;
}

div.todos {
  display: flex;
  width: 500px;
  justify-content: space-between;
  margin-bottom: 10px;
  margin-right: 10px;
}

div.todos .todo-item {
  padding: 10px;
  width: 50%;
  text-align: center;
  border: 1px solid gray;
  border-radius: 20px;
}

div.todos .todo-btn {
  background-color: transparent;
  border: 1px solid pink;
  border-radius: 20px;
  padding: 10px;
  font-weight: 500;
  color: #e7516a;
  cursor: pointer;
}

div.todos .todo-btn:hover {
  background-color: pink;
  color: white;
}

.line-through {
  text-decoration: line-through;
}

.page-404 {
  text-align: center;
}

.nav {
  background-color: transparent;
  border: none;
  border-radius: 0;
  margin-bottom: 0;
  padding: 0;
}

.nav .nav-item {
  padding-right: 10px;
  margin: 0;
  cursor: pointer;
}

.nav .nav-item:last-child {
  padding-right: 0;
}

.nav .nav-item:hover {
  background-color: transparent;
}
